@import './Utilities/Mixins.scss'; 
@import './Utilities/Variables.scss';
// @import './Utilities/KeyFrames.scss';

body {
  background-color: $white-smoke;
  font-family: $font-stack;
}

.App {
  text-align: center;

  .film-title {
    color: $white;
  }
}

.App .film-title:hover, .overlay:hover {
  animation: text2 3s 1;
}

.container {
  @include grid(
    $gap: 5px, 
    $temp-col: repeat(auto-fit, minmax(250px, 1fr)));
}

.item {
  position: relative;
  overflow: hidden;
  &:hover {
    .overlay {
      background: $light-black;
      top: 0;
    }
  }
}

.overlay {
  @include apos($left: 0);
  @include dim($w: 100%, $h: 100%);
  transition: all .9s;
  animation: fadeOut 8s;
}

.mainImg { 
  @include dim($w: 100%, $h: 100%);
  display: block;
  animation: fadeOut 3s;
}

